*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #3e0d57 0%, #090a0f 100%);
  overflow: hidden;
}

body {
  color: #f4f4f4;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  /* This is better for small screens, once min() is better supported */
  /* grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr)); */
  grid-gap: 1rem;
  /* This is the standardized property now, but has slightly less support */
  /* gap: 1rem */
}

.portfolioContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.portfolioItem {
  height: 4rem;
  width: 4rem;
  background: #f4f4f4;
}
