html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #3e0d57 0%, #090a0f 100%);
  overflow: hidden;
}

#stars {
  border-radius: 50%;

  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 678px 1296px #fff, 989px 530px #fff, 1806px 1299px #fff,
    1630px 39px #fff, 67px 630px #fff, 449px 1433px #fff, 1310px 923px #fff,
    593px 741px #fff, 198px 1512px #fff, 771px 1610px #fff, 751px 382px #fff,
    1253px 974px #fff, 1119px 1549px #fff, 336px 1998px #fff, 1383px 168px #fff,
    1039px 1018px #fff, 1359px 1421px #fff, 1738px 1628px #fff,
    1257px 346px #fff, 894px 763px #fff, 1210px 1333px #fff, 1013px 485px #fff,
    1964px 1134px #fff, 1460px 882px #fff, 1754px 1333px #fff, 580px 628px #fff,
    1740px 863px #fff, 1461px 1821px #fff, 1026px 863px #fff, 823px 175px #fff,
    461px 1573px #fff, 1586px 370px #fff, 1870px 1325px #fff, 26px 709px #fff,
    27px 1985px #fff, 72px 1167px #fff, 41px 140px #fff, 1724px 1382px #fff,
    490px 1471px #fff, 1334px 582px #fff, 892px 971px #fff, 99px 74px #fff,
    1204px 1680px #fff, 1388px 1221px #fff, 59px 905px #fff, 1176px 1190px #fff,
    1456px 324px #fff, 1805px 810px #fff, 909px 1672px #fff, 883px 1049px #fff,
    1616px 427px #fff, 858px 269px #fff, 211px 1494px #fff, 66px 491px #fff,
    779px 524px #fff, 1482px 377px #fff, 1781px 1802px #fff, 1396px 752px #fff,
    696px 659px #fff, 1818px 1697px #fff, 461px 1721px #fff, 1896px 404px #fff,
    1481px 1713px #fff, 1907px 16px #fff, 1031px 226px #fff, 1371px 319px #fff,
    90px 1818px #fff, 449px 436px #fff, 428px 285px #fff, 86px 520px #fff,
    1729px 388px #fff, 297px 400px #fff, 1359px 1958px #fff, 484px 1447px #fff,
    1101px 339px #fff, 921px 1718px #fff, 1422px 1426px #fff, 1019px 1343px #fff,
    1831px 1946px #fff, 1673px 547px #fff, 1897px 1118px #fff, 300px 553px #fff,
    1770px 97px #fff, 1183px 871px #fff, 1558px 586px #fff, 1588px 413px #fff,
    845px 126px #fff, 1159px 1902px #fff, 1417px 936px #fff, 1928px 650px #fff,
    315px 728px #fff, 565px 1675px #fff, 1524px 278px #fff, 768px 1687px #fff,
    983px 391px #fff, 1121px 45px #fff, 1511px 72px #fff, 4px 1920px #fff,
    1781px 1084px #fff, 237px 1080px #fff, 12px 1937px #fff, 1047px 1837px #fff,
    814px 890px #fff, 583px 1772px #fff, 1612px 101px #fff, 842px 170px #fff,
    1344px 600px #fff, 1330px 1813px #fff, 1825px 828px #fff, 956px 408px #fff,
    1001px 615px #fff, 746px 1683px #fff, 1227px 258px #fff, 543px 247px #fff,
    744px 1027px #fff, 486px 655px #fff, 1783px 914px #fff, 857px 1633px #fff,
    1642px 375px #fff, 1766px 603px #fff, 1995px 483px #fff, 1846px 1477px #fff,
    167px 28px #fff, 1716px 1907px #fff, 1696px 930px #fff, 746px 1125px #fff,
    998px 383px #fff, 1734px 1695px #fff, 967px 1138px #fff, 1336px 961px #fff,
    1332px 1213px #fff, 235px 265px #fff, 29px 587px #fff, 1148px 638px #fff,
    1196px 239px #fff, 376px 1092px #fff, 1776px 83px #fff, 1125px 1804px #fff,
    50px 933px #fff, 851px 1952px #fff, 1801px 1228px #fff, 1319px 1346px #fff,
    398px 1894px #fff, 573px 1862px #fff, 1585px 1243px #fff, 1416px 1309px #fff,
    16px 467px #fff, 234px 1489px #fff, 832px 1802px #fff, 1507px 179px #fff,
    1424px 1858px #fff, 420px 1272px #fff, 827px 483px #fff, 999px 1888px #fff,
    669px 131px #fff, 1743px 141px #fff, 839px 935px #fff, 12px 1675px #fff,
    577px 353px #fff, 1993px 1951px #fff, 342px 323px #fff, 1038px 142px #fff,
    814px 1709px #fff, 684px 348px #fff, 413px 730px #fff, 894px 153px #fff,
    1261px 1456px #fff, 1048px 686px #fff, 486px 1004px #fff, 830px 644px #fff,
    1114px 493px #fff, 954px 395px #fff, 1541px 1735px #fff, 946px 135px #fff,
    1515px 913px #fff, 1852px 1336px #fff, 1592px 241px #fff, 363px 564px #fff,
    628px 845px #fff, 1348px 712px #fff, 1768px 1884px #fff, 537px 1571px #fff,
    1549px 834px #fff, 1424px 184px #fff, 455px 380px #fff, 356px 1114px #fff,
    1484px 1791px #fff, 634px 1239px #fff, 1173px 1903px #fff,
    1640px 1395px #fff, 1012px 202px #fff, 860px 28px #fff, 797px 70px #fff,
    1448px 104px #fff, 1015px 1194px #fff, 1971px 992px #fff, 423px 915px #fff,
    643px 264px #fff, 1358px 838px #fff, 250px 1590px #fff, 1150px 18px #fff,
    1045px 430px #fff, 1902px 154px #fff, 877px 1596px #fff, 1457px 357px #fff,
    1859px 513px #fff, 1387px 665px #fff, 485px 183px #fff, 1342px 1904px #fff,
    1871px 255px #fff, 1886px 605px #fff, 424px 142px #fff, 669px 263px #fff,
    926px 138px #fff, 1737px 924px #fff, 99px 332px #fff, 1962px 1369px #fff,
    925px 767px #fff, 686px 1391px #fff, 36px 1191px #fff, 403px 958px #fff,
    1974px 1262px #fff, 220px 975px #fff, 1033px 793px #fff, 1668px 39px #fff,
    1605px 881px #fff, 142px 330px #fff, 1053px 1964px #fff, 1869px 372px #fff,
    944px 1297px #fff, 960px 549px #fff, 446px 1106px #fff, 1730px 1280px #fff,
    1013px 1219px #fff, 689px 1989px #fff, 1784px 1070px #fff,
    1829px 1247px #fff, 1353px 1640px #fff, 857px 1269px #fff, 751px 433px #fff,
    1133px 1473px #fff, 491px 870px #fff, 1365px 1391px #fff, 99px 1052px #fff,
    705px 461px #fff, 1510px 455px #fff, 10px 1063px #fff, 1895px 1383px #fff,
    1204px 1766px #fff, 1784px 1190px #fff, 1311px 327px #fff, 1068px 815px #fff,
    598px 1051px #fff, 1206px 1700px #fff, 1496px 1883px #fff, 1392px 724px #fff,
    1357px 1112px #fff, 584px 1595px #fff, 210px 483px #fff, 234px 1093px #fff,
    311px 1783px #fff, 1939px 1375px #fff, 1784px 1199px #fff, 181px 579px #fff,
    778px 985px #fff, 330px 1872px #fff, 1877px 1283px #fff, 1356px 84px #fff,
    852px 1353px #fff, 1505px 343px #fff, 1602px 1652px #fff, 1567px 656px #fff,
    1694px 900px #fff, 567px 1496px #fff, 217px 1351px #fff, 240px 1644px #fff,
    913px 1667px #fff, 948px 240px #fff, 1646px 1955px #fff, 1687px 475px #fff,
    438px 1322px #fff, 98px 144px #fff, 1613px 379px #fff, 1018px 994px #fff,
    1022px 1998px #fff, 1233px 1511px #fff, 1415px 1640px #fff,
    1156px 890px #fff, 71px 1986px #fff, 1543px 550px #fff, 1167px 1590px #fff,
    1010px 1761px #fff, 229px 866px #fff, 419px 1189px #fff, 611px 726px #fff,
    222px 1355px #fff, 1954px 1001px #fff, 1354px 1487px #fff, 625px 1654px #fff,
    276px 1795px #fff, 1795px 442px #fff, 864px 348px #fff, 1528px 913px #fff,
    1412px 159px #fff, 1674px 1851px #fff, 20px 1363px #fff, 294px 523px #fff,
    1259px 879px #fff, 853px 88px #fff, 1967px 937px #fff, 320px 537px #fff,
    557px 1180px #fff, 644px 1632px #fff, 817px 428px #fff, 1544px 1736px #fff,
    1408px 1585px #fff, 1813px 1283px #fff, 898px 1176px #fff, 570px 1892px #fff,
    11px 331px #fff, 1886px 1782px #fff, 991px 1172px #fff, 772px 246px #fff,
    1643px 457px #fff, 1310px 1353px #fff, 576px 1538px #fff, 662px 1115px #fff,
    210px 390px #fff, 1995px 589px #fff, 1966px 495px #fff, 504px 1208px #fff,
    83px 788px #fff, 696px 1686px #fff, 1420px 1829px #fff, 820px 1276px #fff,
    91px 1249px #fff, 1112px 1396px #fff, 909px 2px #fff, 844px 390px #fff,
    653px 1756px #fff, 522px 1449px #fff, 959px 612px #fff, 1896px 1152px #fff,
    348px 1309px #fff, 222px 1508px #fff, 615px 108px #fff, 1925px 702px #fff,
    589px 846px #fff, 498px 473px #fff, 268px 1924px #fff, 262px 745px #fff,
    524px 1346px #fff, 1467px 1639px #fff, 447px 998px #fff, 1062px 291px #fff,
    790px 562px #fff, 321px 656px #fff, 745px 619px #fff, 1912px 681px #fff,
    247px 602px #fff, 1654px 1962px #fff, 1954px 342px #fff, 643px 349px #fff,
    584px 14px #fff, 567px 1976px #fff, 1104px 390px #fff, 1173px 542px #fff,
    1930px 1087px #fff, 1037px 1265px #fff, 1090px 667px #fff, 729px 1360px #fff,
    755px 869px #fff, 597px 719px #fff, 609px 1788px #fff, 190px 72px #fff,
    598px 1335px #fff, 446px 1297px #fff, 1184px 1605px #fff, 1675px 1846px #fff,
    381px 121px #fff, 1323px 1349px #fff, 1586px 1080px #fff, 1996px 50px #fff,
    1139px 265px #fff, 671px 798px #fff, 1496px 613px #fff, 1431px 1470px #fff,
    330px 859px #fff, 925px 361px #fff, 137px 363px #fff, 179px 1091px #fff,
    1027px 1629px #fff, 866px 1768px #fff, 1619px 1396px #fff, 55px 58px #fff,
    1929px 1566px #fff, 1889px 812px #fff, 1316px 1910px #fff,
    1876px 1654px #fff, 29px 1215px #fff, 490px 621px #fff, 1395px 1456px #fff,
    510px 610px #fff, 1666px 115px #fff, 1028px 1994px #fff, 762px 1316px #fff,
    1294px 1708px #fff, 1738px 1386px #fff, 464px 820px #fff, 10px 1773px #fff,
    1221px 530px #fff, 398px 314px #fff, 417px 1400px #fff, 168px 427px #fff,
    1149px 1717px #fff, 767px 107px #fff, 752px 1913px #fff, 1337px 566px #fff,
    1133px 1280px #fff, 146px 1720px #fff, 1294px 351px #fff, 1676px 665px #fff,
    98px 1837px #fff, 1195px 1461px #fff, 1905px 1790px #fff, 1619px 407px #fff,
    1015px 1319px #fff, 625px 1097px #fff, 238px 195px #fff, 1842px 1030px #fff,
    1642px 546px #fff, 132px 1521px #fff, 580px 734px #fff, 1359px 1718px #fff,
    1781px 1228px #fff, 467px 586px #fff, 754px 892px #fff, 1705px 1698px #fff,
    1390px 1110px #fff, 1686px 1596px #fff, 68px 880px #fff, 1125px 1265px #fff,
    1473px 603px #fff, 414px 1705px #fff, 408px 1609px #fff, 986px 461px #fff,
    278px 113px #fff, 1637px 1057px #fff, 1705px 1973px #fff, 104px 1298px #fff,
    481px 948px #fff, 109px 1049px #fff, 218px 426px #fff, 1568px 123px #fff,
    1789px 701px #fff, 565px 1526px #fff, 663px 557px #fff, 462px 42px #fff,
    1997px 679px #fff, 834px 1804px #fff, 485px 1491px #fff, 600px 181px #fff,
    701px 1068px #fff, 1563px 1467px #fff, 456px 666px #fff, 1218px 953px #fff,
    1975px 1800px #fff, 1909px 582px #fff, 367px 200px #fff, 566px 719px #fff,
    556px 626px #fff, 1684px 341px #fff, 1048px 1113px #fff, 554px 473px #fff,
    330px 1347px #fff, 431px 228px #fff, 952px 311px #fff, 568px 1767px #fff,
    1777px 60px #fff, 799px 513px #fff, 441px 291px #fff, 993px 198px #fff,
    1170px 470px #fff, 314px 1583px #fff, 1571px 1690px #fff, 1857px 154px #fff,
    1177px 1291px #fff, 65px 551px #fff, 1421px 824px #fff, 915px 196px #fff,
    38px 1151px #fff, 443px 1517px #fff, 1936px 251px #fff, 1423px 837px #fff,
    1568px 906px #fff, 1355px 1719px #fff, 128px 1988px #fff, 1592px 1064px #fff,
    257px 789px #fff, 1887px 720px #fff, 19px 478px #fff, 1255px 1702px #fff,
    11px 566px #fff, 1071px 1102px #fff, 427px 587px #fff, 477px 49px #fff,
    1151px 382px #fff, 1659px 785px #fff, 96px 846px #fff, 1916px 1306px #fff,
    1791px 1077px #fff, 795px 1430px #fff, 94px 1655px #fff, 954px 334px #fff,
    1254px 1586px #fff, 1919px 665px #fff, 456px 787px #fff, 871px 261px #fff,
    1404px 1661px #fff, 254px 1731px #fff, 667px 1595px #fff, 234px 1744px #fff,
    1908px 1443px #fff, 1368px 1420px #fff, 849px 1303px #fff, 649px 991px #fff,
    1225px 867px #fff, 1741px 967px #fff, 1304px 190px #fff, 331px 84px #fff,
    628px 377px #fff, 342px 1136px #fff, 1762px 1181px #fff, 1966px 969px #fff,
    257px 66px #fff, 1357px 750px #fff, 1714px 553px #fff, 1166px 1697px #fff,
    96px 870px #fff, 1145px 1344px #fff, 1891px 1725px #fff, 1734px 1842px #fff,
    423px 817px #fff, 963px 1481px #fff, 1832px 722px #fff, 1658px 1355px #fff,
    528px 285px #fff, 1724px 538px #fff, 1679px 440px #fff, 1737px 1666px #fff,
    216px 1608px #fff, 424px 115px #fff, 1613px 1190px #fff, 829px 1100px #fff,
    1495px 1789px #fff, 444px 1938px #fff, 804px 1051px #fff, 538px 368px #fff,
    1510px 742px #fff, 1692px 1005px #fff, 1685px 318px #fff, 1240px 1827px #fff,
    1382px 1505px #fff, 1784px 828px #fff, 1495px 139px #fff, 329px 1057px #fff,
    511px 597px #fff, 1022px 355px #fff, 1095px 1330px #fff, 1009px 485px #fff,
    376px 750px #fff, 1702px 1148px #fff, 1231px 920px #fff, 926px 248px #fff,
    344px 1420px #fff, 645px 1953px #fff, 976px 1334px #fff, 1861px 1280px #fff,
    449px 1999px #fff, 616px 54px #fff, 529px 1279px #fff, 518px 579px #fff,
    1750px 1576px #fff, 1002px 1001px #fff, 178px 919px #fff, 366px 1794px #fff,
    828px 719px #fff, 70px 1523px #fff, 1037px 328px #fff, 1487px 1370px #fff,
    1560px 1484px #fff, 206px 734px #fff, 994px 20px #fff, 1382px 545px #fff,
    372px 355px #fff, 1689px 1789px #fff, 947px 1203px #fff, 233px 1645px #fff,
    1216px 67px #fff, 407px 950px #fff, 1811px 702px #fff, 392px 767px #fff,
    1229px 326px #fff, 616px 1226px #fff, 1041px 1012px #fff, 244px 758px #fff,
    391px 632px #fff, 1487px 346px #fff, 1321px 1995px #fff, 1257px 1358px #fff,
    214px 276px #fff, 61px 1383px #fff, 1295px 97px #fff, 1592px 1090px #fff,
    296px 295px #fff, 1777px 288px #fff, 969px 837px #fff, 1154px 1967px #fff,
    585px 1205px #fff, 31px 673px #fff, 680px 542px #fff, 1466px 60px #fff,
    970px 655px #fff, 49px 1022px #fff, 1301px 1853px #fff, 267px 283px #fff,
    1756px 1950px #fff, 565px 198px #fff, 1269px 823px #fff, 1543px 1930px #fff,
    1820px 198px #fff, 374px 1614px #fff, 1013px 416px #fff, 1095px 412px #fff,
    1346px 1000px #fff, 275px 1172px #fff, 1680px 691px #fff, 621px 1947px #fff,
    1937px 961px #fff, 1457px 842px #fff, 146px 785px #fff, 1214px 529px #fff,
    1516px 1524px #fff, 1435px 1994px #fff, 1103px 301px #fff, 1321px 966px #fff,
    447px 1691px #fff, 1745px 1674px #fff, 1259px 301px #fff, 116px 1611px #fff,
    1995px 957px #fff, 317px 1740px #fff, 917px 37px #fff, 712px 353px #fff,
    140px 1764px #fff, 1629px 1064px #fff, 1926px 856px #fff, 219px 152px #fff,
    1490px 768px #fff, 244px 488px #fff, 1418px 971px #fff, 1284px 1119px #fff,
    586px 1848px #fff, 177px 702px #fff, 354px 1356px #fff, 827px 1264px #fff,
    1959px 1327px #fff, 1223px 726px #fff, 30px 710px #fff, 450px 79px #fff,
    1498px 448px #fff, 1772px 1400px #fff, 1584px 1801px #fff, 621px 99px #fff,
    482px 1612px #fff, 853px 1363px #fff, 500px 351px #fff, 1898px 926px #fff,
    797px 754px #fff, 1632px 1389px #fff, 335px 1218px #fff, 1133px 360px #fff,
    1236px 323px #fff, 639px 1126px #fff, 1962px 1733px #fff, 1249px 1313px #fff,
    667px 34px #fff, 225px 1310px #fff, 970px 1774px #fff, 698px 1548px #fff,
    290px 1164px #fff, 17px 1662px #fff, 1064px 1619px #fff, 1263px 719px #fff,
    939px 1268px #fff, 857px 1826px #fff, 2px 613px #fff, 559px 838px #fff,
    1376px 877px #fff, 604px 555px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: ' ';
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 678px 1296px #fff, 989px 530px #fff, 1806px 1299px #fff,
    1630px 39px #fff, 67px 630px #fff, 449px 1433px #fff, 1310px 923px #fff,
    593px 741px #fff, 198px 1512px #fff, 771px 1610px #fff, 751px 382px #fff,
    1253px 974px #fff, 1119px 1549px #fff, 336px 1998px #fff, 1383px 168px #fff,
    1039px 1018px #fff, 1359px 1421px #fff, 1738px 1628px #fff,
    1257px 346px #fff, 894px 763px #fff, 1210px 1333px #fff, 1013px 485px #fff,
    1964px 1134px #fff, 1460px 882px #fff, 1754px 1333px #fff, 580px 628px #fff,
    1740px 863px #fff, 1461px 1821px #fff, 1026px 863px #fff, 823px 175px #fff,
    461px 1573px #fff, 1586px 370px #fff, 1870px 1325px #fff, 26px 709px #fff,
    27px 1985px #fff, 72px 1167px #fff, 41px 140px #fff, 1724px 1382px #fff,
    490px 1471px #fff, 1334px 582px #fff, 892px 971px #fff, 99px 74px #fff,
    1204px 1680px #fff, 1388px 1221px #fff, 59px 905px #fff, 1176px 1190px #fff,
    1456px 324px #fff, 1805px 810px #fff, 909px 1672px #fff, 883px 1049px #fff,
    1616px 427px #fff, 858px 269px #fff, 211px 1494px #fff, 66px 491px #fff,
    779px 524px #fff, 1482px 377px #fff, 1781px 1802px #fff, 1396px 752px #fff,
    696px 659px #fff, 1818px 1697px #fff, 461px 1721px #fff, 1896px 404px #fff,
    1481px 1713px #fff, 1907px 16px #fff, 1031px 226px #fff, 1371px 319px #fff,
    90px 1818px #fff, 449px 436px #fff, 428px 285px #fff, 86px 520px #fff,
    1729px 388px #fff, 297px 400px #fff, 1359px 1958px #fff, 484px 1447px #fff,
    1101px 339px #fff, 921px 1718px #fff, 1422px 1426px #fff, 1019px 1343px #fff,
    1831px 1946px #fff, 1673px 547px #fff, 1897px 1118px #fff, 300px 553px #fff,
    1770px 97px #fff, 1183px 871px #fff, 1558px 586px #fff, 1588px 413px #fff,
    845px 126px #fff, 1159px 1902px #fff, 1417px 936px #fff, 1928px 650px #fff,
    315px 728px #fff, 565px 1675px #fff, 1524px 278px #fff, 768px 1687px #fff,
    983px 391px #fff, 1121px 45px #fff, 1511px 72px #fff, 4px 1920px #fff,
    1781px 1084px #fff, 237px 1080px #fff, 12px 1937px #fff, 1047px 1837px #fff,
    814px 890px #fff, 583px 1772px #fff, 1612px 101px #fff, 842px 170px #fff,
    1344px 600px #fff, 1330px 1813px #fff, 1825px 828px #fff, 956px 408px #fff,
    1001px 615px #fff, 746px 1683px #fff, 1227px 258px #fff, 543px 247px #fff,
    744px 1027px #fff, 486px 655px #fff, 1783px 914px #fff, 857px 1633px #fff,
    1642px 375px #fff, 1766px 603px #fff, 1995px 483px #fff, 1846px 1477px #fff,
    167px 28px #fff, 1716px 1907px #fff, 1696px 930px #fff, 746px 1125px #fff,
    998px 383px #fff, 1734px 1695px #fff, 967px 1138px #fff, 1336px 961px #fff,
    1332px 1213px #fff, 235px 265px #fff, 29px 587px #fff, 1148px 638px #fff,
    1196px 239px #fff, 376px 1092px #fff, 1776px 83px #fff, 1125px 1804px #fff,
    50px 933px #fff, 851px 1952px #fff, 1801px 1228px #fff, 1319px 1346px #fff,
    398px 1894px #fff, 573px 1862px #fff, 1585px 1243px #fff, 1416px 1309px #fff,
    16px 467px #fff, 234px 1489px #fff, 832px 1802px #fff, 1507px 179px #fff,
    1424px 1858px #fff, 420px 1272px #fff, 827px 483px #fff, 999px 1888px #fff,
    669px 131px #fff, 1743px 141px #fff, 839px 935px #fff, 12px 1675px #fff,
    577px 353px #fff, 1993px 1951px #fff, 342px 323px #fff, 1038px 142px #fff,
    814px 1709px #fff, 684px 348px #fff, 413px 730px #fff, 894px 153px #fff,
    1261px 1456px #fff, 1048px 686px #fff, 486px 1004px #fff, 830px 644px #fff,
    1114px 493px #fff, 954px 395px #fff, 1541px 1735px #fff, 946px 135px #fff,
    1515px 913px #fff, 1852px 1336px #fff, 1592px 241px #fff, 363px 564px #fff,
    628px 845px #fff, 1348px 712px #fff, 1768px 1884px #fff, 537px 1571px #fff,
    1549px 834px #fff, 1424px 184px #fff, 455px 380px #fff, 356px 1114px #fff,
    1484px 1791px #fff, 634px 1239px #fff, 1173px 1903px #fff,
    1640px 1395px #fff, 1012px 202px #fff, 860px 28px #fff, 797px 70px #fff,
    1448px 104px #fff, 1015px 1194px #fff, 1971px 992px #fff, 423px 915px #fff,
    643px 264px #fff, 1358px 838px #fff, 250px 1590px #fff, 1150px 18px #fff,
    1045px 430px #fff, 1902px 154px #fff, 877px 1596px #fff, 1457px 357px #fff,
    1859px 513px #fff, 1387px 665px #fff, 485px 183px #fff, 1342px 1904px #fff,
    1871px 255px #fff, 1886px 605px #fff, 424px 142px #fff, 669px 263px #fff,
    926px 138px #fff, 1737px 924px #fff, 99px 332px #fff, 1962px 1369px #fff,
    925px 767px #fff, 686px 1391px #fff, 36px 1191px #fff, 403px 958px #fff,
    1974px 1262px #fff, 220px 975px #fff, 1033px 793px #fff, 1668px 39px #fff,
    1605px 881px #fff, 142px 330px #fff, 1053px 1964px #fff, 1869px 372px #fff,
    944px 1297px #fff, 960px 549px #fff, 446px 1106px #fff, 1730px 1280px #fff,
    1013px 1219px #fff, 689px 1989px #fff, 1784px 1070px #fff,
    1829px 1247px #fff, 1353px 1640px #fff, 857px 1269px #fff, 751px 433px #fff,
    1133px 1473px #fff, 491px 870px #fff, 1365px 1391px #fff, 99px 1052px #fff,
    705px 461px #fff, 1510px 455px #fff, 10px 1063px #fff, 1895px 1383px #fff,
    1204px 1766px #fff, 1784px 1190px #fff, 1311px 327px #fff, 1068px 815px #fff,
    598px 1051px #fff, 1206px 1700px #fff, 1496px 1883px #fff, 1392px 724px #fff,
    1357px 1112px #fff, 584px 1595px #fff, 210px 483px #fff, 234px 1093px #fff,
    311px 1783px #fff, 1939px 1375px #fff, 1784px 1199px #fff, 181px 579px #fff,
    778px 985px #fff, 330px 1872px #fff, 1877px 1283px #fff, 1356px 84px #fff,
    852px 1353px #fff, 1505px 343px #fff, 1602px 1652px #fff, 1567px 656px #fff,
    1694px 900px #fff, 567px 1496px #fff, 217px 1351px #fff, 240px 1644px #fff,
    913px 1667px #fff, 948px 240px #fff, 1646px 1955px #fff, 1687px 475px #fff,
    438px 1322px #fff, 98px 144px #fff, 1613px 379px #fff, 1018px 994px #fff,
    1022px 1998px #fff, 1233px 1511px #fff, 1415px 1640px #fff,
    1156px 890px #fff, 71px 1986px #fff, 1543px 550px #fff, 1167px 1590px #fff,
    1010px 1761px #fff, 229px 866px #fff, 419px 1189px #fff, 611px 726px #fff,
    222px 1355px #fff, 1954px 1001px #fff, 1354px 1487px #fff, 625px 1654px #fff,
    276px 1795px #fff, 1795px 442px #fff, 864px 348px #fff, 1528px 913px #fff,
    1412px 159px #fff, 1674px 1851px #fff, 20px 1363px #fff, 294px 523px #fff,
    1259px 879px #fff, 853px 88px #fff, 1967px 937px #fff, 320px 537px #fff,
    557px 1180px #fff, 644px 1632px #fff, 817px 428px #fff, 1544px 1736px #fff,
    1408px 1585px #fff, 1813px 1283px #fff, 898px 1176px #fff, 570px 1892px #fff,
    11px 331px #fff, 1886px 1782px #fff, 991px 1172px #fff, 772px 246px #fff,
    1643px 457px #fff, 1310px 1353px #fff, 576px 1538px #fff, 662px 1115px #fff,
    210px 390px #fff, 1995px 589px #fff, 1966px 495px #fff, 504px 1208px #fff,
    83px 788px #fff, 696px 1686px #fff, 1420px 1829px #fff, 820px 1276px #fff,
    91px 1249px #fff, 1112px 1396px #fff, 909px 2px #fff, 844px 390px #fff,
    653px 1756px #fff, 522px 1449px #fff, 959px 612px #fff, 1896px 1152px #fff,
    348px 1309px #fff, 222px 1508px #fff, 615px 108px #fff, 1925px 702px #fff,
    589px 846px #fff, 498px 473px #fff, 268px 1924px #fff, 262px 745px #fff,
    524px 1346px #fff, 1467px 1639px #fff, 447px 998px #fff, 1062px 291px #fff,
    790px 562px #fff, 321px 656px #fff, 745px 619px #fff, 1912px 681px #fff,
    247px 602px #fff, 1654px 1962px #fff, 1954px 342px #fff, 643px 349px #fff,
    584px 14px #fff, 567px 1976px #fff, 1104px 390px #fff, 1173px 542px #fff,
    1930px 1087px #fff, 1037px 1265px #fff, 1090px 667px #fff, 729px 1360px #fff,
    755px 869px #fff, 597px 719px #fff, 609px 1788px #fff, 190px 72px #fff,
    598px 1335px #fff, 446px 1297px #fff, 1184px 1605px #fff, 1675px 1846px #fff,
    381px 121px #fff, 1323px 1349px #fff, 1586px 1080px #fff, 1996px 50px #fff,
    1139px 265px #fff, 671px 798px #fff, 1496px 613px #fff, 1431px 1470px #fff,
    330px 859px #fff, 925px 361px #fff, 137px 363px #fff, 179px 1091px #fff,
    1027px 1629px #fff, 866px 1768px #fff, 1619px 1396px #fff, 55px 58px #fff,
    1929px 1566px #fff, 1889px 812px #fff, 1316px 1910px #fff,
    1876px 1654px #fff, 29px 1215px #fff, 490px 621px #fff, 1395px 1456px #fff,
    510px 610px #fff, 1666px 115px #fff, 1028px 1994px #fff, 762px 1316px #fff,
    1294px 1708px #fff, 1738px 1386px #fff, 464px 820px #fff, 10px 1773px #fff,
    1221px 530px #fff, 398px 314px #fff, 417px 1400px #fff, 168px 427px #fff,
    1149px 1717px #fff, 767px 107px #fff, 752px 1913px #fff, 1337px 566px #fff,
    1133px 1280px #fff, 146px 1720px #fff, 1294px 351px #fff, 1676px 665px #fff,
    98px 1837px #fff, 1195px 1461px #fff, 1905px 1790px #fff, 1619px 407px #fff,
    1015px 1319px #fff, 625px 1097px #fff, 238px 195px #fff, 1842px 1030px #fff,
    1642px 546px #fff, 132px 1521px #fff, 580px 734px #fff, 1359px 1718px #fff,
    1781px 1228px #fff, 467px 586px #fff, 754px 892px #fff, 1705px 1698px #fff,
    1390px 1110px #fff, 1686px 1596px #fff, 68px 880px #fff, 1125px 1265px #fff,
    1473px 603px #fff, 414px 1705px #fff, 408px 1609px #fff, 986px 461px #fff,
    278px 113px #fff, 1637px 1057px #fff, 1705px 1973px #fff, 104px 1298px #fff,
    481px 948px #fff, 109px 1049px #fff, 218px 426px #fff, 1568px 123px #fff,
    1789px 701px #fff, 565px 1526px #fff, 663px 557px #fff, 462px 42px #fff,
    1997px 679px #fff, 834px 1804px #fff, 485px 1491px #fff, 600px 181px #fff,
    701px 1068px #fff, 1563px 1467px #fff, 456px 666px #fff, 1218px 953px #fff,
    1975px 1800px #fff, 1909px 582px #fff, 367px 200px #fff, 566px 719px #fff,
    556px 626px #fff, 1684px 341px #fff, 1048px 1113px #fff, 554px 473px #fff,
    330px 1347px #fff, 431px 228px #fff, 952px 311px #fff, 568px 1767px #fff,
    1777px 60px #fff, 799px 513px #fff, 441px 291px #fff, 993px 198px #fff,
    1170px 470px #fff, 314px 1583px #fff, 1571px 1690px #fff, 1857px 154px #fff,
    1177px 1291px #fff, 65px 551px #fff, 1421px 824px #fff, 915px 196px #fff,
    38px 1151px #fff, 443px 1517px #fff, 1936px 251px #fff, 1423px 837px #fff,
    1568px 906px #fff, 1355px 1719px #fff, 128px 1988px #fff, 1592px 1064px #fff,
    257px 789px #fff, 1887px 720px #fff, 19px 478px #fff, 1255px 1702px #fff,
    11px 566px #fff, 1071px 1102px #fff, 427px 587px #fff, 477px 49px #fff,
    1151px 382px #fff, 1659px 785px #fff, 96px 846px #fff, 1916px 1306px #fff,
    1791px 1077px #fff, 795px 1430px #fff, 94px 1655px #fff, 954px 334px #fff,
    1254px 1586px #fff, 1919px 665px #fff, 456px 787px #fff, 871px 261px #fff,
    1404px 1661px #fff, 254px 1731px #fff, 667px 1595px #fff, 234px 1744px #fff,
    1908px 1443px #fff, 1368px 1420px #fff, 849px 1303px #fff, 649px 991px #fff,
    1225px 867px #fff, 1741px 967px #fff, 1304px 190px #fff, 331px 84px #fff,
    628px 377px #fff, 342px 1136px #fff, 1762px 1181px #fff, 1966px 969px #fff,
    257px 66px #fff, 1357px 750px #fff, 1714px 553px #fff, 1166px 1697px #fff,
    96px 870px #fff, 1145px 1344px #fff, 1891px 1725px #fff, 1734px 1842px #fff,
    423px 817px #fff, 963px 1481px #fff, 1832px 722px #fff, 1658px 1355px #fff,
    528px 285px #fff, 1724px 538px #fff, 1679px 440px #fff, 1737px 1666px #fff,
    216px 1608px #fff, 424px 115px #fff, 1613px 1190px #fff, 829px 1100px #fff,
    1495px 1789px #fff, 444px 1938px #fff, 804px 1051px #fff, 538px 368px #fff,
    1510px 742px #fff, 1692px 1005px #fff, 1685px 318px #fff, 1240px 1827px #fff,
    1382px 1505px #fff, 1784px 828px #fff, 1495px 139px #fff, 329px 1057px #fff,
    511px 597px #fff, 1022px 355px #fff, 1095px 1330px #fff, 1009px 485px #fff,
    376px 750px #fff, 1702px 1148px #fff, 1231px 920px #fff, 926px 248px #fff,
    344px 1420px #fff, 645px 1953px #fff, 976px 1334px #fff, 1861px 1280px #fff,
    449px 1999px #fff, 616px 54px #fff, 529px 1279px #fff, 518px 579px #fff,
    1750px 1576px #fff, 1002px 1001px #fff, 178px 919px #fff, 366px 1794px #fff,
    828px 719px #fff, 70px 1523px #fff, 1037px 328px #fff, 1487px 1370px #fff,
    1560px 1484px #fff, 206px 734px #fff, 994px 20px #fff, 1382px 545px #fff,
    372px 355px #fff, 1689px 1789px #fff, 947px 1203px #fff, 233px 1645px #fff,
    1216px 67px #fff, 407px 950px #fff, 1811px 702px #fff, 392px 767px #fff,
    1229px 326px #fff, 616px 1226px #fff, 1041px 1012px #fff, 244px 758px #fff,
    391px 632px #fff, 1487px 346px #fff, 1321px 1995px #fff, 1257px 1358px #fff,
    214px 276px #fff, 61px 1383px #fff, 1295px 97px #fff, 1592px 1090px #fff,
    296px 295px #fff, 1777px 288px #fff, 969px 837px #fff, 1154px 1967px #fff,
    585px 1205px #fff, 31px 673px #fff, 680px 542px #fff, 1466px 60px #fff,
    970px 655px #fff, 49px 1022px #fff, 1301px 1853px #fff, 267px 283px #fff,
    1756px 1950px #fff, 565px 198px #fff, 1269px 823px #fff, 1543px 1930px #fff,
    1820px 198px #fff, 374px 1614px #fff, 1013px 416px #fff, 1095px 412px #fff,
    1346px 1000px #fff, 275px 1172px #fff, 1680px 691px #fff, 621px 1947px #fff,
    1937px 961px #fff, 1457px 842px #fff, 146px 785px #fff, 1214px 529px #fff,
    1516px 1524px #fff, 1435px 1994px #fff, 1103px 301px #fff, 1321px 966px #fff,
    447px 1691px #fff, 1745px 1674px #fff, 1259px 301px #fff, 116px 1611px #fff,
    1995px 957px #fff, 317px 1740px #fff, 917px 37px #fff, 712px 353px #fff,
    140px 1764px #fff, 1629px 1064px #fff, 1926px 856px #fff, 219px 152px #fff,
    1490px 768px #fff, 244px 488px #fff, 1418px 971px #fff, 1284px 1119px #fff,
    586px 1848px #fff, 177px 702px #fff, 354px 1356px #fff, 827px 1264px #fff,
    1959px 1327px #fff, 1223px 726px #fff, 30px 710px #fff, 450px 79px #fff,
    1498px 448px #fff, 1772px 1400px #fff, 1584px 1801px #fff, 621px 99px #fff,
    482px 1612px #fff, 853px 1363px #fff, 500px 351px #fff, 1898px 926px #fff,
    797px 754px #fff, 1632px 1389px #fff, 335px 1218px #fff, 1133px 360px #fff,
    1236px 323px #fff, 639px 1126px #fff, 1962px 1733px #fff, 1249px 1313px #fff,
    667px 34px #fff, 225px 1310px #fff, 970px 1774px #fff, 698px 1548px #fff,
    290px 1164px #fff, 17px 1662px #fff, 1064px 1619px #fff, 1263px 719px #fff,
    939px 1268px #fff, 857px 1826px #fff, 2px 613px #fff, 559px 838px #fff,
    1376px 877px #fff, 604px 555px #fff;
}

#stars2 {
  border-radius: 50%;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 467px 1567px #fff, 1707px 1313px #fff, 1562px 1431px #fff,
    120px 1118px #fff, 1278px 967px #fff, 325px 901px #fff, 1848px 1391px #fff,
    504px 906px #fff, 1543px 1651px #fff, 1254px 1108px #fff, 69px 21px #fff,
    281px 1133px #fff, 1688px 367px #fff, 1223px 1281px #fff, 239px 1471px #fff,
    1893px 1394px #fff, 1925px 1077px #fff, 1768px 1119px #fff,
    1952px 1163px #fff, 518px 1174px #fff, 888px 1720px #fff, 1599px 370px #fff,
    1872px 1815px #fff, 1204px 104px #fff, 763px 608px #fff, 1006px 651px #fff,
    114px 1063px #fff, 206px 1141px #fff, 1882px 1299px #fff, 1796px 1701px #fff,
    322px 983px #fff, 1400px 105px #fff, 1228px 122px #fff, 875px 746px #fff,
    240px 1883px #fff, 51px 1042px #fff, 1183px 1546px #fff, 1554px 18px #fff,
    270px 576px #fff, 1599px 41px #fff, 1333px 180px #fff, 1405px 1420px #fff,
    882px 1424px #fff, 1014px 537px #fff, 1083px 1501px #fff, 43px 343px #fff,
    733px 225px #fff, 820px 640px #fff, 483px 1205px #fff, 1317px 788px #fff,
    943px 538px #fff, 1931px 1676px #fff, 53px 1487px #fff, 1862px 1602px #fff,
    771px 1922px #fff, 1561px 1669px #fff, 1099px 1481px #fff, 185px 1480px #fff,
    698px 1355px #fff, 109px 903px #fff, 1273px 760px #fff, 591px 596px #fff,
    1572px 1841px #fff, 224px 430px #fff, 1128px 631px #fff, 1368px 1533px #fff,
    1512px 406px #fff, 1881px 1010px #fff, 431px 971px #fff, 1076px 362px #fff,
    1592px 1979px #fff, 156px 65px #fff, 1093px 431px #fff, 1679px 570px #fff,
    12px 1929px #fff, 553px 1135px #fff, 847px 1908px #fff, 214px 1361px #fff,
    1750px 1149px #fff, 1264px 120px #fff, 1781px 1847px #fff, 163px 769px #fff,
    154px 597px #fff, 897px 57px #fff, 1066px 625px #fff, 1765px 512px #fff,
    385px 474px #fff, 1242px 1733px #fff, 1361px 240px #fff, 653px 559px #fff,
    672px 1972px #fff, 1294px 1983px #fff, 1445px 835px #fff, 1001px 1390px #fff,
    1046px 846px #fff, 1346px 441px #fff, 367px 1801px #fff, 964px 657px #fff,
    841px 1467px #fff, 1874px 276px #fff, 963px 1889px #fff, 1989px 320px #fff,
    880px 491px #fff, 934px 273px #fff, 618px 449px #fff, 58px 492px #fff,
    1296px 214px #fff, 439px 574px #fff, 99px 1185px #fff, 438px 128px #fff,
    686px 1418px #fff, 654px 538px #fff, 1861px 1131px #fff, 962px 1918px #fff,
    1169px 1773px #fff, 120px 1346px #fff, 800px 663px #fff, 1251px 79px #fff,
    784px 437px #fff, 11px 1898px #fff, 879px 1804px #fff, 706px 743px #fff,
    96px 134px #fff, 1832px 14px #fff, 622px 180px #fff, 1739px 1620px #fff,
    197px 1525px #fff, 1444px 1058px #fff, 1615px 1925px #fff, 548px 1733px #fff,
    512px 1852px #fff, 817px 494px #fff, 1589px 761px #fff, 280px 866px #fff,
    1489px 1858px #fff, 1287px 1283px #fff, 1954px 1287px #fff, 714px 126px #fff,
    1918px 326px #fff, 968px 111px #fff, 1577px 48px #fff, 1765px 42px #fff,
    1570px 328px #fff, 1350px 1515px #fff, 523px 255px #fff, 1747px 7px #fff,
    1309px 627px #fff, 1046px 701px #fff, 1385px 170px #fff, 1276px 1850px #fff,
    1717px 112px #fff, 171px 1443px #fff, 577px 288px #fff, 1518px 1192px #fff,
    873px 1576px #fff, 1838px 77px #fff, 682px 1628px #fff, 1572px 1213px #fff,
    185px 1417px #fff, 671px 275px #fff, 1872px 1909px #fff, 1780px 1784px #fff,
    389px 1223px #fff, 1821px 591px #fff, 474px 1214px #fff, 610px 1034px #fff,
    1192px 1619px #fff, 1065px 138px #fff, 1415px 1173px #fff, 904px 1460px #fff,
    1612px 445px #fff, 1674px 979px #fff, 812px 755px #fff, 868px 338px #fff,
    1393px 1487px #fff, 1518px 1543px #fff, 495px 1712px #fff, 631px 443px #fff,
    154px 1388px #fff, 590px 1624px #fff, 1570px 1148px #fff, 1152px 1052px #fff,
    891px 717px #fff, 672px 1135px #fff, 855px 1095px #fff, 1566px 1465px #fff,
    205px 1470px #fff, 1956px 1066px #fff, 1893px 280px #fff, 955px 2000px #fff,
    360px 1235px #fff, 1989px 1848px #fff, 1515px 1777px #fff, 1134px 405px #fff,
    196px 1774px #fff, 1480px 588px #fff, 1055px 985px #fff, 562px 190px #fff,
    1743px 234px #fff, 1244px 1730px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: ' ';
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 467px 1567px #fff, 1707px 1313px #fff, 1562px 1431px #fff,
    120px 1118px #fff, 1278px 967px #fff, 325px 901px #fff, 1848px 1391px #fff,
    504px 906px #fff, 1543px 1651px #fff, 1254px 1108px #fff, 69px 21px #fff,
    281px 1133px #fff, 1688px 367px #fff, 1223px 1281px #fff, 239px 1471px #fff,
    1893px 1394px #fff, 1925px 1077px #fff, 1768px 1119px #fff,
    1952px 1163px #fff, 518px 1174px #fff, 888px 1720px #fff, 1599px 370px #fff,
    1872px 1815px #fff, 1204px 104px #fff, 763px 608px #fff, 1006px 651px #fff,
    114px 1063px #fff, 206px 1141px #fff, 1882px 1299px #fff, 1796px 1701px #fff,
    322px 983px #fff, 1400px 105px #fff, 1228px 122px #fff, 875px 746px #fff,
    240px 1883px #fff, 51px 1042px #fff, 1183px 1546px #fff, 1554px 18px #fff,
    270px 576px #fff, 1599px 41px #fff, 1333px 180px #fff, 1405px 1420px #fff,
    882px 1424px #fff, 1014px 537px #fff, 1083px 1501px #fff, 43px 343px #fff,
    733px 225px #fff, 820px 640px #fff, 483px 1205px #fff, 1317px 788px #fff,
    943px 538px #fff, 1931px 1676px #fff, 53px 1487px #fff, 1862px 1602px #fff,
    771px 1922px #fff, 1561px 1669px #fff, 1099px 1481px #fff, 185px 1480px #fff,
    698px 1355px #fff, 109px 903px #fff, 1273px 760px #fff, 591px 596px #fff,
    1572px 1841px #fff, 224px 430px #fff, 1128px 631px #fff, 1368px 1533px #fff,
    1512px 406px #fff, 1881px 1010px #fff, 431px 971px #fff, 1076px 362px #fff,
    1592px 1979px #fff, 156px 65px #fff, 1093px 431px #fff, 1679px 570px #fff,
    12px 1929px #fff, 553px 1135px #fff, 847px 1908px #fff, 214px 1361px #fff,
    1750px 1149px #fff, 1264px 120px #fff, 1781px 1847px #fff, 163px 769px #fff,
    154px 597px #fff, 897px 57px #fff, 1066px 625px #fff, 1765px 512px #fff,
    385px 474px #fff, 1242px 1733px #fff, 1361px 240px #fff, 653px 559px #fff,
    672px 1972px #fff, 1294px 1983px #fff, 1445px 835px #fff, 1001px 1390px #fff,
    1046px 846px #fff, 1346px 441px #fff, 367px 1801px #fff, 964px 657px #fff,
    841px 1467px #fff, 1874px 276px #fff, 963px 1889px #fff, 1989px 320px #fff,
    880px 491px #fff, 934px 273px #fff, 618px 449px #fff, 58px 492px #fff,
    1296px 214px #fff, 439px 574px #fff, 99px 1185px #fff, 438px 128px #fff,
    686px 1418px #fff, 654px 538px #fff, 1861px 1131px #fff, 962px 1918px #fff,
    1169px 1773px #fff, 120px 1346px #fff, 800px 663px #fff, 1251px 79px #fff,
    784px 437px #fff, 11px 1898px #fff, 879px 1804px #fff, 706px 743px #fff,
    96px 134px #fff, 1832px 14px #fff, 622px 180px #fff, 1739px 1620px #fff,
    197px 1525px #fff, 1444px 1058px #fff, 1615px 1925px #fff, 548px 1733px #fff,
    512px 1852px #fff, 817px 494px #fff, 1589px 761px #fff, 280px 866px #fff,
    1489px 1858px #fff, 1287px 1283px #fff, 1954px 1287px #fff, 714px 126px #fff,
    1918px 326px #fff, 968px 111px #fff, 1577px 48px #fff, 1765px 42px #fff,
    1570px 328px #fff, 1350px 1515px #fff, 523px 255px #fff, 1747px 7px #fff,
    1309px 627px #fff, 1046px 701px #fff, 1385px 170px #fff, 1276px 1850px #fff,
    1717px 112px #fff, 171px 1443px #fff, 577px 288px #fff, 1518px 1192px #fff,
    873px 1576px #fff, 1838px 77px #fff, 682px 1628px #fff, 1572px 1213px #fff,
    185px 1417px #fff, 671px 275px #fff, 1872px 1909px #fff, 1780px 1784px #fff,
    389px 1223px #fff, 1821px 591px #fff, 474px 1214px #fff, 610px 1034px #fff,
    1192px 1619px #fff, 1065px 138px #fff, 1415px 1173px #fff, 904px 1460px #fff,
    1612px 445px #fff, 1674px 979px #fff, 812px 755px #fff, 868px 338px #fff,
    1393px 1487px #fff, 1518px 1543px #fff, 495px 1712px #fff, 631px 443px #fff,
    154px 1388px #fff, 590px 1624px #fff, 1570px 1148px #fff, 1152px 1052px #fff,
    891px 717px #fff, 672px 1135px #fff, 855px 1095px #fff, 1566px 1465px #fff,
    205px 1470px #fff, 1956px 1066px #fff, 1893px 280px #fff, 955px 2000px #fff,
    360px 1235px #fff, 1989px 1848px #fff, 1515px 1777px #fff, 1134px 405px #fff,
    196px 1774px #fff, 1480px 588px #fff, 1055px 985px #fff, 562px 190px #fff,
    1743px 234px #fff, 1244px 1730px #fff;
}

#stars3 {
  border-radius: 50%;

  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 496px 499px #fff, 551px 1473px #fff, 42px 154px #fff,
    876px 790px #fff, 333px 540px #fff, 1156px 1832px #fff, 1450px 1350px #fff,
    571px 1343px #fff, 995px 1185px #fff, 1300px 1547px #fff, 1773px 780px #fff,
    759px 1030px #fff, 1622px 556px #fff, 1452px 661px #fff, 494px 954px #fff,
    516px 578px #fff, 1836px 1167px #fff, 224px 1169px #fff, 1373px 1861px #fff,
    1506px 458px #fff, 1602px 1692px #fff, 1184px 162px #fff, 1711px 1062px #fff,
    1653px 756px #fff, 1672px 30px #fff, 216px 966px #fff, 1044px 1219px #fff,
    1879px 1360px #fff, 846px 1078px #fff, 53px 1083px #fff, 1263px 1608px #fff,
    1924px 1419px #fff, 621px 1755px #fff, 1772px 155px #fff, 1307px 1627px #fff,
    1448px 1141px #fff, 1269px 1699px #fff, 1997px 362px #fff,
    1953px 1862px #fff, 956px 1200px #fff, 1267px 462px #fff, 972px 385px #fff,
    1062px 489px #fff, 916px 550px #fff, 1692px 1872px #fff, 86px 1641px #fff,
    1890px 576px #fff, 677px 1461px #fff, 1139px 1111px #fff, 1192px 36px #fff,
    1421px 1794px #fff, 1072px 5px #fff, 199px 848px #fff, 1547px 317px #fff,
    1489px 1078px #fff, 1464px 793px #fff, 1382px 155px #fff, 1534px 1577px #fff,
    424px 1042px #fff, 773px 1864px #fff, 1421px 282px #fff, 1506px 1912px #fff,
    1988px 1817px #fff, 220px 1006px #fff, 1442px 1191px #fff, 1939px 830px #fff,
    136px 647px #fff, 145px 893px #fff, 314px 952px #fff, 487px 1139px #fff,
    1157px 616px #fff, 1741px 245px #fff, 510px 1961px #fff, 30px 1626px #fff,
    1328px 1196px #fff, 1836px 778px #fff, 1962px 841px #fff, 1270px 995px #fff,
    1518px 811px #fff, 919px 1686px #fff, 1915px 1352px #fff, 123px 779px #fff,
    652px 538px #fff, 394px 800px #fff, 706px 636px #fff, 1999px 1256px #fff,
    1613px 1972px #fff, 1046px 1730px #fff, 1607px 1977px #fff, 929px 407px #fff,
    1410px 1613px #fff, 176px 1985px #fff, 466px 170px #fff, 598px 1296px #fff,
    1889px 517px #fff, 937px 879px #fff, 1508px 84px #fff, 1737px 886px #fff,
    697px 1632px #fff, 933px 1660px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: ' ';
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 496px 499px #fff, 551px 1473px #fff, 42px 154px #fff,
    876px 790px #fff, 333px 540px #fff, 1156px 1832px #fff, 1450px 1350px #fff,
    571px 1343px #fff, 995px 1185px #fff, 1300px 1547px #fff, 1773px 780px #fff,
    759px 1030px #fff, 1622px 556px #fff, 1452px 661px #fff, 494px 954px #fff,
    516px 578px #fff, 1836px 1167px #fff, 224px 1169px #fff, 1373px 1861px #fff,
    1506px 458px #fff, 1602px 1692px #fff, 1184px 162px #fff, 1711px 1062px #fff,
    1653px 756px #fff, 1672px 30px #fff, 216px 966px #fff, 1044px 1219px #fff,
    1879px 1360px #fff, 846px 1078px #fff, 53px 1083px #fff, 1263px 1608px #fff,
    1924px 1419px #fff, 621px 1755px #fff, 1772px 155px #fff, 1307px 1627px #fff,
    1448px 1141px #fff, 1269px 1699px #fff, 1997px 362px #fff,
    1953px 1862px #fff, 956px 1200px #fff, 1267px 462px #fff, 972px 385px #fff,
    1062px 489px #fff, 916px 550px #fff, 1692px 1872px #fff, 86px 1641px #fff,
    1890px 576px #fff, 677px 1461px #fff, 1139px 1111px #fff, 1192px 36px #fff,
    1421px 1794px #fff, 1072px 5px #fff, 199px 848px #fff, 1547px 317px #fff,
    1489px 1078px #fff, 1464px 793px #fff, 1382px 155px #fff, 1534px 1577px #fff,
    424px 1042px #fff, 773px 1864px #fff, 1421px 282px #fff, 1506px 1912px #fff,
    1988px 1817px #fff, 220px 1006px #fff, 1442px 1191px #fff, 1939px 830px #fff,
    136px 647px #fff, 145px 893px #fff, 314px 952px #fff, 487px 1139px #fff,
    1157px 616px #fff, 1741px 245px #fff, 510px 1961px #fff, 30px 1626px #fff,
    1328px 1196px #fff, 1836px 778px #fff, 1962px 841px #fff, 1270px 995px #fff,
    1518px 811px #fff, 919px 1686px #fff, 1915px 1352px #fff, 123px 779px #fff,
    652px 538px #fff, 394px 800px #fff, 706px 636px #fff, 1999px 1256px #fff,
    1613px 1972px #fff, 1046px 1730px #fff, 1607px 1977px #fff, 929px 407px #fff,
    1410px 1613px #fff, 176px 1985px #fff, 466px 170px #fff, 598px 1296px #fff,
    1889px 517px #fff, 937px 879px #fff, 1508px 84px #fff, 1737px 886px #fff,
    697px 1632px #fff, 933px 1660px #fff;
}

#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  font-family: 'lato', sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}
#title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
